<div class="container-fluid inside-frame background-battle">
    <mat-grid-list cols="2">
        <mat-grid-tile *ngIf="pokemonLeft.life > 0" style="display: flex; height: 100%;">
            <div class="pokemon-left animate__bounceIn" id="pokemonLeft">
                <p class="pokemon-name">{{ pokemonLeft.name }}</p>
                <mat-progress-bar mode="determinate" :value="{{ pokemonLeft.life }}"></mat-progress-bar>
                <img :src="{{ pokemonLeft.imgBack }}" class="card-img" alt="pokemon-left">
            </div>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="pokemonRight.life > 0" style="height: 100%;">
            <div class="pokemon-right">
                <div class="d-flex flex-column justify-content-center animate__bounceIn" style="align-items: flex-end; height: 100%;" id="pokemonRight">
                    <p class="pokemon-name">{{ pokemonRight.name }}</p>
                    <mat-progress-bar mode="determinate" :value="{{ pokemonRight.life }}"></mat-progress-bar>
                    <img :src="{{ pokemonRight.imgFront }}" class="card-img" alt="pokemon-right">
                </div>
                <div class="attack-buttons pokeR-height" *ngIf="pokemonLeft.life !== 0 || pokemonRight.life !== 0">
                    <button mat-button [disabled]="isDisabled" (click)="attack()"><img src="../../../assets/img/espada.png" style="width: 35px;">Attack</button>
                    <button mat-button [disabled]="isDisabled" (click)="defense()"><img src="../../../assets/img/escudo.png" style="width: 35px;">Defense</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>