<div class="container inside-frame">
    <section class="section-menu">
        <div class="img-card">
            <img mat-card-image src="../assets/img/pokeDuelLogo.png">
        </div>
        <div class="menu">
            <button mat-raised-button [routerLink]="['/game',userID]">New game</button>
            <ng-container *ngIf="userStatExists">
                <button mat-raised-button [routerLink]="['/continue-game', userID]">Continue</button>
            </ng-container>
            <button mat-raised-button [routerLink]="['/my-account',userID]">My account</button>
            <button mat-raised-button routerLink="/how-to-play">How to play</button>
            <button mat-raised-button routerLink="/credits">Credits</button>
            <button mat-raised-button (click)="logOut()">Log out</button>
        </div>
    </section>
</div>