//VARIABLES
@import '../../../variables';
@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';

.section-menu {
    display: flex;
    flex-direction: column;
    height: 100%;

    h1 {
        text-align: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    button {
        background-color: $dark-garnet;
        color: $white;
        height: 30px;
        border-radius: 1vh;
    }

    .img-card {
        display: flex;
        justify-content: center;
        margin-bottom: -3vh;

        .mat-card-image {
            width: 20vh;
        }
    }

}

@include media-breakpoint-up(xl) {
    .section-menu {

        .menu {
            display: flex;
            flex-direction: column;
            gap: 15px;

            button {
                height: 30px;
                border-radius: 1vh;
            }
        }
    }

}