<div class="container inside-frame">
    <section class="section-menu">
        <div class="img-card">
            <img mat-card-image src="../assets/img/pokeDuelLogo.png">
        </div>
        <div class="menu">
            <div>
                <div>
                    <span>Background music</span><mat-slider min="1" max="100" step="0.5" value="50"></mat-slider>
                </div>
                <div>
                    <span>Sound effects</span><mat-slider min="1" max="100" step="0.5" value="50"></mat-slider>
                </div>
                <div>
                    <span>Pokemon cries</span><mat-slider min="1" max="100" step="0.5" value="50"></mat-slider>
                </div>
            </div>
            <div>
                <ng-container *ngIf="userLogged">
                    <button class="btn btn-secondary" (click)="goTo()">Back</button>
                </ng-container>
                <ng-container *ngIf="!userLogged">
                    <button class="btn btn-secondary" routerLink="/">Back</button>
                </ng-container>
            </div>
        </div>
    </section>
</div>