<div class="container inside-frame">
    <section class="section-menu">
        <div class="img-card">
            <img mat-card-image src="../assets/img/pokeDuelLogo.png">
        </div>
        <div class="menu">
            <button mat-raised-button routerLink="/login">Log In</button>
            <button mat-raised-button routerLink="/register">Register</button>
            <button mat-raised-button routerLink="/credits">Credits</button>
            <button mat-raised-button (click)="quit()">Quit</button>
        </div>
    </section>
</div>