//VARIABLES
@import '../../../variables';


.section-menu {
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    button {
        background-color: $dark-garnet;
        color: $white;
    }

    .img-card {
        display: flex;
        justify-content: center;
        margin-bottom: -3vh;

        .mat-card-image {
            width: 25vh;
        }
    }

}