<div class="container">
  <mat-card class="gameboy-card">
    <mat-card-content>
      <div class="card square card-desk">
        <router-outlet></router-outlet>
        <div class="img-card">
          <img mat-card-image src="../assets/img/gameboyColor.png">
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="controls">
        <div class="dpad">
          <div class="up"><i class="fa fa-caret-up"></i></div>
          <div class="right"><i class="fa fa-caret-right"></i></div>
          <div class="down"><i class="fa fa-caret-down"></i></div>
          <div class="left"><i class="fa fa-caret-left"></i></div>
          <div class="middle"></div>
        </div>
        <div class="a-b">
          <div class="b">B</div>
          <div class="a">A</div>
        </div>
      </div>

      <div class="start-select">
        <div class="select" routerLink="/options" (click)="savePath()">OPTIONS</div>
        <ng-container *ngIf="!userLogged">
          <div class="start" routerLink="/">START</div>
        </ng-container>
        <ng-container *ngIf="userLogged">
          <div class="start" [routerLink]="['/menu-game',userID]">MENU</div>
        </ng-container>
      </div>
    </mat-card-actions>
  </mat-card>
</div>