<div class="container-fluid inside-frame">
    <div class="row" style="height:100%;">
        <div class="col mx-auto inputs-lg">
            <div class="card">
                <div class="card-body d-flex flex-column">
                    <form [formGroup]="logInForm">
                        <div class="form-group">
                            <input type="text" formControlName="username" name="username" class="form-control"
                                placeholder="Username" required autofocus />
                        </div>
                        <div class="form-group d-flex">
                                <input [type]="hide ? 'password' : 'text'" formControlName="password" name="password" class="form-control"
                                placeholder="Password" required />
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                        </div>

                        <div class="d-flex justify-content-between">
                            <input type="button" class="btn btn-secondary" value="Back" routerLink="/" />
                            <input type="submit" class="btn btn-primary" value="Log in" (click)="logIn(logInForm.value)"/>
                        </div>
                    </form>
                </div>
                <input [(ngModel)]="error" class="error-input"/>
            </div>
        </div>
    </div>
</div>