@import "../node_modules/bootstrap/scss/bootstrap";
@import "variables";
.container {
    height: 100%;
}

.square {
    position: relative;
    border: solid black 5px;
    border-radius: 5px;
    table-layout: fixed;

    &:after {
        content: "";
        display: flex;
        padding-bottom: 100%;
        background-color: $dark-grey;
        border: solid black 10px;
        border-radius: 5px;
        border-top: solid black 5vh;
        border-bottom: solid black 9vh;
    }
}



.controls {
    margin-left: 4vh;
    margin-right: 4vh;
    margin-bottom: -15px;
}

.a-b {

    .a {
        top: 15px;
        right: 10px;
    }

    .b {
        top: 35px;
        left: 0%;
    }
}

.controls {
    display: flex;
    justify-content: space-between;

    .dpad {
        position: relative;
        display: inline-block;
        width: 90px;
        height: 90px;
        z-index: 5;
        margin-top: 1vh;

        >* {
            width: 33%;
            height: 33%;
            position: absolute;
            background-color: $bg-but-pad;
            cursor: pointer;

            i {
                position: relative;
                display: block;
                margin: 0 auto;
                text-align: center;
                height: 100%;
                font-size: 28px;
                color: $bg-but-pad-2;
                text-shadow: 0px -0.5px 0px $pad-but-text-shadow;
            }
        }

        .up {
            @include pad-buttons('top');
        }

        .right {
            @include pad-buttons('right');
        }

        .down {
            @include pad-buttons('down');
        }

        .left {
            @include pad-buttons('left');
        }

        .middle {
            top: 33%;
            left: 33%;
            z-index: -5;

            &::after {
                content: '';
                position: absolute;
                top: 20%;
                left: 20%;
                display: inline-block;
                border: 1px solid #6e737a;
                background: linear-gradient(to bottom, #6d7075 0%, #6d7075 30%, #23272f 70%, #23272f 100%);
                border-radius: 50%;
                height: 60%;
                width: 60%;
            }
        }

        .up-down {
            @include pad-buttons('up-down');
        }

        .left-right {
            @include pad-buttons('left-right');
        }
    }

    .a-b {
        position: relative;
        display: inline-block;
        width: 120px;
        height: 90px;

        .a,
        .b {
            position: absolute;
            display: inline-block;
            font-size: 22px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            border-bottom: 2px solid $pad-but-shadow;
            box-shadow: -1px 1px 5px $black, 0px 0px 5px $black inset;
            text-shadow: 0px -1px 1px $pad-but-shadow;
            color: #2c313e;
            text-align: center;
            -webkit-user-select: none;
            cursor: pointer;
            transition: box-shadow 0.1s ease-out, border 0.1s ease-out, line-height 0.2s ease-out;

            &:active {
                box-shadow: -1px 1px 1px $black, 0px 0px 5px $black inset;
                border-width: 0px;
                line-height: 45px;
            }
        }
    }
}

.start-select {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;

    .select,
    .start {
        display: inline-block;
        letter-spacing: -1px;
        width: 60px;
        font-size: 16px;
        text-align: center;
        margin-top: 60px;

        &::before {
            content: '';
            display: block;
            margin: 0 auto;
            width: 30px;
            height: 10px;
            margin-bottom: 5px;
            border-radius: 40%;
            background: linear-gradient(to bottom, $grad-grey-3 0%, $grad-grey-3 30%, $grad-grey-4 70%, $grad-grey-4 100%);
            background-repeat: no-repeat;
            border: 2px solid #0b0a1c;
            cursor: pointer;
        }

        &:active::before {
            background: linear-gradient(to bottom, $grad-grey-3 0%, $grad-grey-3 50%, $grad-grey-4 100%);
        }
    }
}

@include media-breakpoint-up(xl) {
    html, body {
        background-color: $body-bg-md-up !important;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .square:after {
        padding-bottom: 40%;
    }

    .controls {
        margin-left: -20vh;
        margin-right: -22vh;
        margin-bottom: -152px;
        position: relative;
        top: -50vh;
    }

    .inside-frame {
        position: absolute;
        margin: 5vh;
        z-index: 3;
        height: 440px;
    }

    .a, .b {
        background-color: $dark-grey;
    }

    .mat-card {
        box-shadow: none;
    }

}

@include media-breakpoint-down(lg) {
    .inside-frame {
        position: absolute;
        margin: 5vh;
        width: 360px;
        height: 360px;
        z-index: 3;
    }

    .a,
    .b {
        background-color: $dark-garnet;
    }
    
}