// ------------- VARIABLES GLOBAL
// ------------------------------------



// -- Logo colors
$dark-grey: #747570 !default;
$dark-garnet: #751650 !default;
$dark-purple: #665f9e;
$black: #000000;
$white: #ffffff;

//override-colors
$primary: #751650;
$secondary: #665f9e;


$yellow: #ffcc01 !default;
$dark-blue: #365eaa !default;



// -- Body-background
$body-bg-md-down: #bdbec1;
$body-bg-md-up: #665f9e;

// -- Typography


// -- Pad-buttons
$bg-but-pad: #565e6a;
$bg-but-pad-2: #333a4a;


// -- Shadows
$pad-but-shadow: #888;
$pad-but-text-shadow: #aaa;

// -- Gradients
// Pad-buttons
$grad-grey-1: #565e6a;
$grad-grey-2: #333;

// Start-Select buttons
$grad-grey-3: #0b0a1c;
$grad-grey-4: #62636c;