<div class="container-fluid inside-frame">
  <div class="card d-flex flex-column " style="background-color: transparent; border: none;">
    <div class="d-flex justify-content-center mt-1">
      <img :src="{{ user.avatar }}" class="card-img-top" alt="Avatar" style="width:100px; border-radius: 50%;">
    </div>
    <div class="card-body text">
      <h2 class="card-title">{{ user.username }}</h2>
      <p class="card-text">
        <img src="../../../assets/img/email.png" class="card-img-top" alt="Avatar" style="width:50px;">
        <span>{{ user.email }}</span>
      </p>
      <p class="card-text">
        <img src="../../../assets/img/trofeo.png" class="card-img-top" alt="Avatar" style="width:50px;">
        <span> {{ userStat.score }} points: </span>
        <span>{{ userStat.victories }} victories</span>
        <span> in {{ userStat.round }} rounds</span>
      </p>
    </div>
    <div class="d-flex justify-content-around">
      <button class="btn btn-primary" [routerLink]="['/menu-game',userID]">Go to menu</button>
      <button class="btn btn-secondary" [routerLink]="['/edit-my-account',userID]">Edit my profile</button>
      <button class="btn btn-danger" (click)="deleteProfile(user._id)">Delete my profile</button>
    </div>
  </div>
</div>